  .task-item {
    width: 90%;
  }

  .task-closed {
    min-height: 10px;
    background-color: #dfdfdf;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px 4px;
    color: #222;
    font-size: 14px;
  }

  .task-open-modal {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .modal-container {
    margin: auto;
    width: 25rem;
    height: 25rem;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px #2222224b;
  }

  .modal-header {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
  }

  .close-btn {
    width: 20px;
    height: 20px;
    border: 2px solid #474747;
    border-radius: 100%;
  }

  .task-closed, .close-btn, .editable-title-container {
    cursor: pointer;
  }

  .title-input, .editable-title-container {
    display: flex;
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
  }

  .task-closed {
    min-height: 10px;
  }

  .modal-content {
    padding: 0 1rem;
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    text-align: start;
    justify-content: space-between;
  }

  .modal-content select {
    height: fit-content;
  }